<div class="page-body">
  <div class="spinner-container" *ngIf="dataLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="sheetofpaper">
    <p>
      {{ myMessage }}
    </p>
    <p>cool - oder?</p>
    <p>jah!</p>
    <button (click)="so()">so</button>

    <template id="iFrameTemplate">
      <iframe
        sandbox="allow-scripts allow-same-origin"
        (srcdoc)='itemPlaygroundDoc'
        (load)="aler('d')">
      </iframe>
    </template>
    <div id="iFrameHost">

    </div>
  </div>
</div>

